<?php

$mail->IsSMTP(); // telling the class to use SMTP
//$mail->SMTPDebug  = 2;                     // enables SMTP debug information (for testing)
                                           // 1 = errors and messages
                                           // 2 = messages only
$mail->SMTPAuth   = true;                  // enable SMTP authentication
$mail->SMTPSecure = "ssl";                 // sets the prefix to the servier
$mail->Host       = "smtp.server.com";     // sets the SMTP server
$mail->Port       = 465;                    // set the SMTP port for the GMAIL server
$mail->Username   = "username"; // SMTP account username
$mail->Password   = "password";        // SMTP account password

$mail->SetFrom('noreply@server.com', 'John Doe');
$mail->AddReplyTo("email@server.com","John Doe");

?>